<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      CASA SIMPSONS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

 
  <div class="cards"> 
  <div class="card" [ngStyle]="sala ? {'box-shadow': '0 0 20px #e8f900', 'border-radius':'1.5rem'} : {}">
    <button class="img-btn" >
    <img src="https://elcomercio.pe/resizer/KqyOJMPH7X9AFso2k1E67pG94KI=/620x0/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/4M5FNJZ5NZETJJ7CQZ4PDZTBUY.PNG" alt="Imagen de ejemplo">
  </button >
   
  </div>

  <div class="card" [ngStyle]="cocina ? {'box-shadow': '0 0 20px #e8f900', 'border-radius':'1.5rem'} : {}" >
    <button class="img-btn" >
    <img src="https://i.pinimg.com/736x/06/72/d7/0672d7ce62064243a90114fa6faddc29.jpg" alt="Imagen de ejemplo">
  </button >
   
  </div>

  <div class="card" [ngStyle]="habitacionLisa ? {'box-shadow': '0 0 20px #e8f900', 'border-radius':'1.5rem'} : {}" >
    <button class="img-btn" >
    <img src="https://arquitectandoideas.files.wordpress.com/2014/04/juego-visita-casa-simpsons-300x182.jpg" alt="Imagen de ejemplo">
  </button >
   
  </div>

  <div class="card"  [ngStyle]="entrada ? {'box-shadow': '0 0 20px #e8f900', 'border-radius':'1.5rem'} : {}">
    <button class="img-btn" >
    <img src="https://arquitectandoideas.files.wordpress.com/2014/04/content_simpsons_home_interactive.jpg" alt="Imagen de ejemplo">
  </button >
   
  </div>

  <div class="card" [ngStyle]="garaje ? {'box-shadow': '0 0 20px #e8f900', 'border-radius':'1.5rem'} : {}" >
    <button class="img-btn" >
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjYwHNNr8biDfOYXoo9EoTpggplyyBFa9sruUak-mvUvBLACw92BR9oezYTjNDYfZzmGU&usqp=CAU" alt="Imagen de ejemplo">
  </button >
   
  </div>

  <div class="card" [ngStyle]="habitacionBart ? {'box-shadow': '0 0 20px #e8f900', 'border-radius':'1.5rem'} : {}" >
    <button class="img-btn" >
    <img src="https://i.pinimg.com/736x/07/5e/3a/075e3a7c79cbc03ed54b572783d1e0e0.jpg" alt="Imagen de ejemplo">
  </button >
   
  </div>



</div>

</ion-content>
